.hero { 
    //padding: 50px 200px;
    margin: 0;




    form {display: flex;
         flex-direction: column;
         row-gap: 30px;
         margin: 0 auto;
         justify-content: center;
         align-items: center;
          left: 0;
          right: 0;
          top: 0;
        // padding-top: 90px;
     }


         .container {height: 550px;
                    // width: 450px;
                     box-sizing: border-box;}


      input {display: block;
            height: 40px;
           width: 300px;
          font-size: 18px;
          border-radius: 10px;
         border: 1px solid orange;} 
         
         


         .password {
          display: flex;
          flex-direction: column;
          justify-content: baseline;

         }

         
         

         button{background-color: orange;
              color: white;
              font-size: 17px;
             font-family: 'inter';
             font-weight: 300;
             padding: 10px 120px;
             border-radius: 10px;
             border: none;}

           .forgot-password {color: orange;}  
}